<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="32000">
    <!-- <setting id="transcode_format" label="32023" type="labelenum" values="mkv|hls" default="mkv" /> -->

    <!-- <setting id="playback_directplay_force" type="bool" label="32027" default="false" enable="eq(-1,true)" subsetting="true" /> -->
    <setting id="debug" type="bool" label="32024" default="false" />
  </category>
  <category label="32464">
    <setting id="auto_seek" type="bool" label="32466" default="true" />
    <setting id="kodi_skip_stepping" type="bool" label="32465" default="false" />
    <setting id="dynamic_timeline_seek" type="bool" label="32471" default="false" />
  </category>
  <category label="32467">
    <setting id="fast_back" type="bool" label="32485" default="false" />
  </category>
</settings>
